/*
i = 5000
DB_URL=mongodb+srv://Umair:yMyoH4FPxfwcuZ00@cluster0.aine5.mongodb.net/tour-db?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=development

# JWT
JWT_ACCESS_SECRET = access_secret
JWT_ACCESS_EXPIRES = 1d
JWT_REFRESH_SECRET=JWT_REFRESH_SECRET
JWT_REFRESH_EXPIRES=30d
# BCRYPT
BCRYPT_SALT_ROUND = 10

# SUPER ADMIN
SUPER_ADMIN_EMAIL=super@gmail.com
SUPER_ADMIN_PASSWORD=12345678


# Google
#  Check in passport.ts file form clientid and secret


GO0OGLE_CALLBACK_URL=http://localhost:5000/api/v1/auth/google/callback

#Express Session
EXPRESS_SESSION_SECRET=express-session

#FRONEND URL
FRONEND_URL=http://localhost:5173